/.editorconfig
/index.php
/license.txt
/user_guide/
/application/*
/composer.json
/readme.rst
/nbproject/
/system/
/contributing.md
!/application/
/application/cache/
/application/language/
/application/third_party/
/application/hooks/
/application/views/index.html
/application/views/welcome_message.php
/application/views/errors/
/application/config/
/application/controllers/
/application/helpers/
/application/core/
/application/logs/
/application/libraries/index.html
/application/models/index.html
/application/.htaccess
/application/index.html